{% extends 'mb_user_base.html' %}
{% load static %}
{% block title %}
    MANAGE INCOMES
{% endblock %}

{% block content %}


<div class="list_table_filter_div content-wrapper" id="income-table-block"  style="display: block;">
    <!-- Content Header (Page header) -->
   
  
    <!-- Main content -->
    <div class="wallet-short-info-section">
        <div class="top-left pl-0">
          <div class="wallet-month-selection-form">
            <form>
              <select id="top-sec-wallet" onchange="get_amount()">
                  <option value="" selected>Select Wallet</option>
                  {% for wallet in all_my_wallet %}
                  <option value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                  {% endfor %}
              </select>
              <input  id="top-sec-month" value="" type="month" name="month" onchange="get_amount()">
          </form>
        </div>
      
        <div class="wallet-month-form-result">

            <div class="wallet-short-info-dashboard">
                <p>Total Income</p>
                <div id="total_income_top_sec">Select Month</div>
            </div>
        </div>
      </div>
        <div class="top-right pl-4 pr-0">
          <canvas id="IncomePie" height="140" style="max-height: 140px;"></canvas>
        </div>
        <div class="form-row text-center" >
            <div class="col-12 mt-3">
                <button class="btn btn-outline-dark text-dark col-md-8 col-lg-8 search_btn" onclick="show_income_entry_form()">Add New Income</button>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="search-block">
            <div class="col-12">
                <div class="">
                    <div class="col-md-12 bg-light-gray d-flex flex-row justify-content-center mt-3">
                      <div class="col-md-12 p-2 m-1 filter_block justify-content-center">
                          <h4 class="m-2 mobile_filter_block_heading">
                              Filter For Income
                          </h4>
                        <form class="col-md-12 search_form" method="get" action="{% url 'income:search_incomes' %}" id="patientFilterForm">
                          
                          <div class="row justify-content-center  search-section">
                            <div class="col-lg-12 col-md-12 pr-lg-0 pl-lg-0 pr-md-2 pl-md-0 col-sm-12 col-12 m-0 p-0 pb-2 " style="display: inline-block;">
                              <label class="filter_parameter_lable">Source </label>
                              <input list="income_title" name="income_title" value="{{ request_parameter.income_title }}" class="filter_parameter_input">
                              <datalist id="income_title">
                                {% for income in all_income_info %}
                                <option value="{{ income.income_related_id.short_info }}">
                                {% endfor %}
                                
                            </datalist>
                            </div>
                            <div class="col-lg-12 col-md-12 pr-lg-0 pl-lg-0 pr-md-0 pl-md-0 col-sm-12 col-12 m-0 p-0 pb-2" style="display: inline-block;">
                              <label class="filter_parameter_lable">Wallet </label>
                              <select class="input--style-1 " type="text" placeholder="Wallet" name="wallet">
                                
                                <option class="input-option col-sm-12 col-12" value="">Select Wallet</option>
                                {% for wallet in all_my_wallet %}
                                  <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <div class="col-lg-12 col-md-12 pr-lg-0 pl-lg-0 pr-md-0 pl-md-0  col-sm-12 col-12  m-0 p-0 pb-2 " style="display: inline-block;">
                                <label class="filter_parameter_lable">From </label>
                                <input type="date" class="filter_parameter_input" name="date_from" value="{{ request_parameter.date_from }}">
                            </div>
    
                            <div class="col-lg-12 col-md-12 pr-lg-0 pl-lg-0 pr-md-0 pl-md-0 col-sm-12 col-12  m-0 p-0 pb-2 " style="display: inline-block;">
                                <label class="filter_parameter_lable">To </label>
                                <input type="date" class="filter_parameter_input" name="date_to"  value="{{ request_parameter.date_to }}">
                            </div>
                          </div>
                          
                         
                          <div class="form-row text-center" >
                              <div class="col-6 mt-2 search-block-button">
                                  <button class="btn btn-outline-dark text-dark col-md-12 col-lg-12 search_btn"><img src="{% static 'images/filter.svg' %}"></button>
                              </div>
                              
                          </div>
                            
                        </form>
  
                      </div>
                      
                  </div>
  
                    <div class="row-flex">
  
                          <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center">
                            
                            <h4 class="m-2 mt-4 mobile_filter_block_heading">
                                Income Summery
                            </h4>
                            
                              <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center" >
                                <div class="total_sum_mobile">
                                  <p class="total-text">Total ({{ current_month }})</p>
                                  <p class="total-value">Tk. {{ total }}</p>
                                </div>
                                {% for income in pagination_data_list %}
                                  <div class="income_list_mobile">
                                      <div class="left-sec-each">
                                        <div class="sector-and-date">
                                            <div class="sector">
                                                <p>{{ income.income_related_id.short_info }}</p>
                                            </div>
                                            <div class="date">
                                                <p>{{ income.income_date }}</p>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="detais">
                                            <p>
                                                {{ income.description }}
                                            </p>
                                        </div>
                                        <div class="wallet">
                                            <p>
                                                Wallet: {{ income.wallet.wallet_name }}
                                            </p>
                                        </div>
                                        <div class="entry-date">
                                            <p>
                                                Entry: {{ income.created_at }}
                                            </p>
                                        </div>
                                      </div>
                                      <div class="right-sec-each">
                                        <div class="edit-delete-actions edit_dlt_icon_class">
                                            <a class=" py-0" type="button" href="{% url 'income:edit_income' id=income.id %}"><img src="{% static 'images/edit-solid.svg' %}"></a>
                                        
                                            <a id="del_options{{income.id}}" class=" py-0" type="button" onclick="showDelConfirmButtons('{{ income.id }}')"><img src="{% static 'images/trash-solid.svg' %}"></a>
                                            <div id="del{{income.id}}" style="display: none;">
                                                <a class="btn btn-primary py-0 px-2" href="{% url 'income:delete_income' id=income.id %}">Yes</a>
                                                <button class="btn btn-danger py-0 px-2" onclick="cancelDelChange('{{ income.id }}')">No</button>
                                            </div>
                                        </div>
                                        <div class="amount">
                                            <p>Tk. {{ income.amount }}</p>
                                        </div>
                                      </div>
                                  </div>
                                  {% endfor %}
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 prev_next_month_block">
                                    <div class="btn btn-outline-light prev_month_block"><a href="{% url 'income:search_incomes' %}?date_from={{ prev_month_first_date }}&date_to={{ prev_month_last_date }}"><img src="{% static 'images/left.svg' %}"> Month</a></div>
                                    <hr class="hr-between-prev-next-btn">
                                    <div class="btn btn-outline-light next_month_block"><a href="{% url 'income:search_incomes' %}?date_from={{ next_month_first_date }}&date_to={{ next_month_last_date }}">Month <img src="{% static 'images/right.svg' %}"></a></div>
                                  </div>
                                <!-- {% include 'pagination.html' %} -->
                          
                          </div>  
                </div> 
            </div>  <!-- /.col -->
        </div>  <!-- /.row -->
    </section>  <!-- /.content -->
  </div>  <!-- /.content-wrapper -->

  {% include 'income/create_income.html' %}
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

    window.onload = function createCostCart(){
      var costPieCart = document.getElementById('IncomePie');
      url = "{% url 'income:get_income_graph_data' %}"
      $.ajax({
        type: "GET",
        dataType: 'json',
        url: url,
        data: "data_dict",
        success: function(data) {
          console.log(data)
          try{
            var labels = [];
            var costtotal = [];
          
  
          for (var key in data){
            labels.push(key)
            costtotal.push(data[key].income_count)
          }
          console.log(labels)
          new Chart(costPieCart, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              
              data: costtotal,
              borderWidth: 0,
              hoverBorderColor: '#EBF9F0',
              hoverBorderWidth: 1,
            }],
            
          },
          options:{
            plugins: {
              legend: {
                  display: false, // Hide the legend
              },
            }
          }
          
        });
      }
          catch(E){
            console.log(E)
          }
        
      }
      })
    }
      
      
    </script>
  <script>
      const showDelConfirmButtons = (id) => {
        console.log(id)
        $('#del_options'+id).hide(); // hide the buttons
        $("#del"+id).css("display", "block"); // view the buttons
    
      }

      const cancelDelChange = (id) => {
      console.log(id)
      $('#del'+id).hide(); // hide the buttons
      $("#del_options"+id).css("display", "inline-block"); // view the checkbox
    }

    const show_new_details_entry = () =>{
      $('#select-details-block').hide(); // hide the buttons
      $('#new-entry-block').css("display", "block"); // hide the buttons
    }

    const show_income_entry_form = () =>{
      $('#income-table-block').css("display", "none"); // hide the buttons
      $('#income-form-block').css("display", "block"); // hide the buttons
    }

    const show_income_list = () =>{
      $('#income-form-block').css("display", "none"); // hide the buttons
      $('#income-table-block').css("display", "block");; // hide the buttons
      
    }

  </script>

{% endblock %}