<div class="create_data_from_div content-wrapper" id="cost-form-block" style="display: none;">

<div class="page-wrapper p-t-2 p-b-2 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-body">
              <div class="col-lg-12 col-md-12 col-12 justify-content-end p-0">
                <a class="btn btn-standard text-dark py-1 px-5 float-right col-lg-4 col-md-4" onclick="show_cost_list()">My Cost List</a>
              </div>
                <h4 class="title font-weight-bold">+ New Cost</h4>
                <form method="POST">
                  {% csrf_token %}

                  <div id="new-entry-block" class="p-3" style="display:none">
                    <p class="font-weight-bold">Create new cost sector</p>
                    <div class="input-group">
                      <p>Ex: House Rent</p>
                        <input class="input--style-1" type="text" placeholder="new cost sector" name="short_info">
                    </div>
                  </div>



                  <div id="select-details-block" class="p-4">
                    <p class="font-weight-bold">Select cost sector from previous</p>
                    <div><a class="btn btn-standard text-dark p-0 px-2 float-right" onclick="show_new_details_entry()">Add Sector</a></div>
                    <div class="input-group">
                      <div class="select-input">
                        <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="COST SECTOR" name="select_short_info">
                          <option class="input-option col-sm-12 col-12" value="" >select cost sector</option>
                          {% for cost_related in all_cost_related %}
                            <option class="input-option col-sm-12 col-12" value="{{ cost_related.id }}">{{ cost_related.short_info }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    
                  </div>



                  <div id="entry-cost-amount" class="p-4">
                    <br>
                    <p class="font-weight-bold">New Cost Information</p>
                    <br>
                    <div class="input-group">
                      <div class="select-input">
                        <select class="input--style-1 col-sm-12 col-12" type="text" placeholder="Wallet" name="wallet">
                          
                          <option class="input-option col-sm-12 col-12" value="">select wallet</option>
                          {% for wallet in all_my_wallet %}
                            <option class="input-option col-sm-12 col-12" value="{{ wallet.id }}">{{ wallet.wallet_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="input-group">
                      
                      <input class="input--style-1" type="number" placeholder="cost amount" name="amount" required>
                    </div>
                    <div class="input-group">
                      
                      <input class="input--style-1" type="text" placeholder="details" name="description">
                    </div>
                    
                    <div class="input-group">
                      <!--<input id="datepicker" class="input--style-1" type="text" onclick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{ today_date }}"  name="cost_date" style="min-height:50px;">-->
                      <input id="datepicker" class="input--style-1" type="date" name="cost_date" placeholder="{{ today_date }}">
                    </div>
                    <div class="p-t-20">
                        <button class="btn btn--radius" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>